<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.comment</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>4a455b3e-626a-418f-bc4a-6875dc161e98</string>
				<key>WFCommentActionText</key>
				<string>自托管 fork：https://github.com/suversal/wloc-selfhosted
源项目作者频道：https://t.me/Jsforbaby
订阅地址：
Surge: https://raw.githubusercontent.com/suversal/wloc-selfhosted/refs/heads/main/modules/wloc.sgmodule
Quantumult X: https://raw.githubusercontent.com/suversal/wloc-selfhosted/refs/heads/main/modules/wloc.conf
Loon: https://raw.githubusercontent.com/suversal/wloc-selfhosted/refs/heads/main/modules/wloc.lpx</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.comment</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>d7827089-dd8a-4351-959d-682abe0e94ee</string>
				<key>WFCommentActionText</key>
				<string>调用 wloc 清除接口(清掉设备上已保存的坐标)</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.downloadurl</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>59bc340e-6d1d-47b0-854d-60daca270b00</string>
				<key>WFHTTPMethod</key>
				<string>GET</string>
				<key>WFURL</key>
				<string>https://gs-loc.apple.com/wloc-settings/save?action=clear</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.comment</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>e4cf13e6-36ab-43bf-807d-23402ec24ca8</string>
				<key>WFCommentActionText</key>
				<string>通知清除结果</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.notification</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>4e56ad7e-5fe4-4584-ad4c-dfd6e77f5864</string>
				<key>WFNotificationActionBody</key>
				<string>已清除定位:恢复模块默认参数 / 停止改定位
即将打开『定位服务』,请关闭再打开(或等 1-10 秒)让真实定位生效</string>
				<key>WFNotificationActionTitle</key>
				<string>WLOC</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.comment</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>b96cd213-b4f2-4a75-a4c3-2a143e6df186</string>
				<key>WFCommentActionText</key>
				<string>等 1 秒,打开 设置&gt;隐私&gt;定位服务,手动关再开刷新定位</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.delay</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>bd2c8644-8fb9-4a2c-8356-02f23c2dccec</string>
				<key>WFDelayTime</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.openurl</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>5a41d3b1-bfb3-4978-818c-d43658e161ee</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict/>
						<key>string</key>
						<string>prefs:root=Privacy&amp;path=LOCATION</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>WFWorkflowClientVersion</key>
	<string>4610</string>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<false/>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>61440</integer>
		<key>WFWorkflowIconStartColor</key>
		<integer>-1153328</integer>
	</dict>
	<key>WFWorkflowImportQuestions</key>
	<array/>
	<key>WFWorkflowInputContentItemClasses</key>
	<array/>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>900</integer>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>900</string>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array/>
	<key>WFWorkflowTypes</key>
	<array>
		<string>Watch</string>
		<string>NCWidget</string>
		<string>WFWorkflowTypeShowInSearch</string>
	</array>
</dict>
</plist>
